:root {
    --theme-color: #505050;
    --theme-bg-color: #505050;
    --theme-text-color: #ffffff;
    --theme-accent-color: #000000;
    --textarea-bg-color: #f3f3f3;
    --textarea-bg-color-hover: #f7f7f7;
}